<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link rel="stylesheet" href="main.css">
    <title>Houseware Shop</title>
</head>

<body>
<div id="detail-nav" th:replace="~{/fragments/app-fragments :: nav-default}">
    Home Nav
</div>
<div class="container">
    <div class="row">
        <!-- Show list category -->
        <div class="col-md-2">
            <h5 class="labelhead">
                <div class="alert alert-success" role="alert">
                    Category
                </div>
            </h5>
            <div class="category">
                <a href="#" class="pt-3" style="color: #d71e1e; font-size: 20px">All
                    Product</a>

                <div th:each="category:${categories}">
                    <a class="pt-4" href="#"
                       style="color: #8400e7 !important; margin-left: 5px;font-size: 20px" th:text="*{category.getCategoryName()}"></a>

                    <span th:each="subcategory:*{category.getSubCategories()}" class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Hand Tools">
                        <a class="pl-3 subCategory" href="#">
                            <li th:text="*{subcategory.getSubCategoryName()}">Hand Tools</li>
                        </a>
                    </span>

                </span>

                </div>

            </div>
        </div>
        <!-- end -->
        <!-- Show list product -->

        <div class="col-md-10">
            <h5 class="labelhead"></h5>
            <div class="alert alert-secondary" role="alert">
                <form onchange="submitForm()" id="combo" action="#">List of products
                    <i class="fas fa-cubes mr-2 ml-4"></i><a href="#"
                                                             class="btn btn-outline-warning" style="color: #ff0707">
                        Best Match</a>
                    <i class="fas fa-filter mr-2 ml-4"></i><a href="#"
                                                              class="btn btn-outline-primary">Random</a>
                    <i class="fas fa-dollar-sign mr-2 ml-4"></i>
                    <select name="price" style="font-size: 1rem">
                        <option value="-1">Price</option>
                        <option value="0">0$-5%</option>
                        <option value="1">5$-10$</option>
                        <option value="2">10$-15$</option>
                        <option value="3">15$-20$</option>
                        <option value="4">&gt;20$</option>
                    </select>
                    <i class="fas fa-sort-down mr-2 ml-4"></i><a href="#"
                                                                 class="btn btn-outline-info">new</a>
                    <i class="fas fa-bolt mr-2 ml-4"></i><a href="#"
                                                            class="btn btn-outline-success">free ship</a>
                    <a href="#" style="color: orange"><i class="fas fa-sort ml-5"></i></a>
                </form>
            </div>


            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>

                    <li class="page-item active"><a class="page-link" href="#">1</a></li>

                    <li class="page-item "><a class="page-link" href="#">2</a></li>

                    <li class="page-item "><a class="page-link" href="#">3</a></li>

                    <li class="page-item ">
                        <a class=" page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>


            <div class="row mb-5">


                <!-- Show product -->

                <div th:each="product:${products}" class="col-md-3 mt-4 pt-2">
                    <div class="card">


                        <div id="DIV_1">
                            <span id="SPAN_2"><i class="fas fa-bolt"></i></span>
                        </div>

                        <a href="./detail"><img th:src="@{'/images/'+*{product.imageUrl}}"
                                                style="border: 1px solid #ededed;"
                                                class="card-img-top pt-4" alt="..."></a>
                        <div class="card-body pt-3">
                            <a href="#" class="btn btn-outline-danger"><i class="fas fa-cart-plus mr-2"></i>Add to
                                cart</a>
                            <a href="./detail" class="card-title text-center mb-1 mt-2" th:text="*{product.getName()}">Repair
                                Tool</a>
                            <p class="text-center my-0" style="color: #f60" th:text="'$'+*{product.getPrice()}">
                                $16.61</p>
                            <!--                                        <p class="text-center my-0">
                                                                                    <fmt:formatNumber value="16.61" type="currency"></fmt:formatNumber>
                                                                                </p>-->
                        </div>
                    </div>
                </div>

                <!-- end -->

                <!-- Show product -->

                <div class="col-md-3 mt-4 pt-2">
                    <div class="card">

                        <div id="DIV_1">
                            <span id="SPAN_2">11</span>
                        </div>


                        <a href="./detail"><img th:src="@{/images/tools/2_0.jpg}"
                                                style="border: 1px solid #ededed;"
                                                class="card-img-top pt-4" alt="..."></a>
                        <div class="card-body pt-3">
                            <a href="#" class="btn btn-outline-danger"><i class="fas fa-cart-plus mr-2"></i>Add to
                                cart</a>
                            <a href="./detail" class="card-title text-center mb-1 mt-2">Measure Tools</a>
                            <p class="text-center my-0" style="color: #f60">$9.27</p>
                            <!--                                        <p class="text-center my-0">
                                                                                    <fmt:formatNumber value="9.27" type="currency"></fmt:formatNumber>
                                                                                </p>-->
                        </div>
                    </div>
                </div>

                <!-- end -->

                <!-- Show product -->

                <div class="col-md-3 mt-4 pt-2">
                    <div class="card">


                        <a href="./detail"><img th:src="@{/images/tools/3_0.jpg}"
                                                style="border: 1px solid #ededed;"
                                                class="card-img-top pt-4" alt="..."></a>
                        <div class="card-body pt-3">
                            <a href="#" class="btn btn-outline-danger"><i class="fas fa-cart-plus mr-2"></i>Add to
                                cart</a>
                            <a href="./detail" class="card-title text-center mb-1 mt-2">Manual Screw</a>
                            <p class="text-center my-0" style="color: #f60">$8.6</p>
                            <!--                                        <p class="text-center my-0">
                                                                                    <fmt:formatNumber value="8.6" type="currency"></fmt:formatNumber>
                                                                                </p>-->
                        </div>
                    </div>
                </div>

                <!-- end -->


            </div>


            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>

                    <li class="page-item active"><a class="page-link" href="#">1</a></li>

                    <li class="page-item "><a class="page-link" href="#">2</a></li>

                    <li class="page-item "><a class="page-link" href="#">3</a></li>

                    <li class="page-item ">
                        <a class=" page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>


        </div>
        <!--end -->
    </div>
</div>
</div>

<div id="detail-footer" th:replace="~{/fragments/app-fragments :: copyright}">
    Footer
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>